name: Main

on:
  push:
    branches:
    - main
    tags:
    - v[0-9]+.[0-9]+.[0-9]+

jobs:
  setup-and-run:
    strategy:
      fail-fast: false
      matrix:
        start_method: [fork, spawn]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install build dependencies (macOS)
      run: |
        brew install llvm libspatialite

    - name: Install dependencies (macOS)
      env:
        CXX: /opt/homebrew/opt/llvm/bin/clang++
        CC: /opt/homebrew/opt/llvm/bin/clang
      run: uv sync --locked

    - name: Run script
      env:
        MULTIPROCESSING_START_METHOD: ${{ matrix.start_method }}
      run: |
          DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:/opt/homebrew/lib uv run main.py
