name: Main

on:
  push:
    branches:
    - main
    tags:
    - v[0-9]+.[0-9]+.[0-9]+

jobs:
  setup-and-run:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install build dependencies (macOS)
      run: |
        brew install llvm libspatialite
        echo "CC=/opt/homebrew/opt/llvm/bin/clang" >> $GITHUB_ENV
        echo "CXX=/opt/homebrew/opt/llvm/bin/clang++" >> $GITHUB_ENV
        echo "LDFLAGS=-L/opt/homebrew/opt/llvm/lib" >> $GITHUB_ENV
        echo "CPPFLAGS=-I/opt/homebrew/opt/llvm/include" >> $GITHUB_ENV

    - name: Install Python and create virtual environment
      run: uv venv .venv --python-preference only-managed  --clear

    - name: Install dependencies (macOS)
      env:
        CXX: /opt/homebrew/opt/llvm/bin/clang++
        CC: /opt/homebrew/opt/llvm/bin/clang
      run: uv sync --locked

    - name: Run script
      run: |
          DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:/opt/homebrew/lib uv run main.py
